.HighlightedProject .links {
    margin-top: 2rem;
}

.HighlightedProject {
    position: -webkit-sticky;
    position: sticky;
    box-shadow: rgba(100,100,111,.2) 0 7px 29px 0;
    background: #fff;
    padding: 2.5rem;
    text-align: left;
    border-radius: 5px;
    display: flex;
    max-width: 30rem;
    flex-direction: column;
    align-items: flex-start;
    width: 95%;
    bottom: 2rem;
    transition: 1s;
    margin-bottom: 2rem;
}

.HighlightedProject li {
    list-style-type: '»';
    padding-inline-start: 1ch;
    margin-bottom: .75rem;
}

.HighlightedProject .name {
    margin-bottom: 2rem;
}

.HighlightedProject .name h2 {
    font-weight: 400;
    color: var(--colorThemeExtraDark);
}

.HighlightedProject .name span {
    font-weight: 300;
    font-style: italic;
    color: #a1a1a1;
}