.Project img {
    max-width: 20rem;
    width: 98%;
    border: solid rgba(0, 0, 0, 0.437) .1rem;
    border-radius: 5px;
}

.Project .picture {
    position: relative;
}

.Project {
    background:#cecaca;
    padding: 2.5rem;
    text-align: left;
    border-radius: 5px;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 25rem;
    cursor: pointer;
    transition: 2s;
    padding: 2.5rem;
    text-align: left;
    border-radius: 5px;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 95%;
    cursor: pointer;
    transition: 2s;
}


.Project:hover {
    transform: translateY(-1rem);
    background-color: #d4d2d2;
}

.Project .projectTitle {
    text-align: left;
    background: #ffffff;
    padding: .2rem;
    border-radius: 5px;
    margin-top: .5rem;
    margin-bottom: .3rem;
    color: #666;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0;
    transition: 2s;
}

.Project.selected .projectTitle {
    background: var(--colorThemeOrange);
    color: white;
}

.Project p {
    font-style: italic;
}

.Project .label {
    border-color: var(--colorThemeOrange) !important;
    background-color: var(--colorThemeOrange);
    left: calc(-1rem - .2em);
    margin-right: -.6em;
    padding-left: calc(1rem + 1.2em);
    padding-right: .6em;
    position: absolute;
    margin: 0;
    top: 5%;
    margin-right: 0px;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    border-radius: 0 .28571429rem .28571429rem 0;
    animation: 1s ease-out render;
}

.Project .label::after {
    background-color: transparent !important;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: inherit;
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    border-style: solid;
    border-width: 0 1.2em 1.2em 0;
    width: 0;
    height: 0;
}