.Main.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Main.section h1 {
    font-weight: 500;
    color: var(--colorThemeExtraDark);
    font-size: 2.3rem;
}

.Main.section .name {
    display:inline-block;
    font-weight: 600;
    color: var(--colorThemeOrange);
    animation: fadeInAbove 1s ease-out 1;
    font-size: 2.8rem;
    transition: 1s;
}

.Main.section .name:hover {
    transform: translateY(-.3rem) scale(1.1)
}

.Main.section .container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Main.section .container > div:first-child {
    padding-bottom: 2rem;
}

.Main.section .container {
    max-width: 120rem;
    width: 92%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@keyframes fadeInAbove {
    0% {
        transform: translateY(-50%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}