.SocialIcon.container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: start;
    position: relative;
}

.SocialIcon.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #495057;
    color: #fff;
    border-radius: 100%;
    font-size: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: .5rem;
    transition: .4s;
}

.SocialIcon.icon:hover{
    background-color: var(--colorThemeOrange);
}

.SocialIcon.tooltip {
    user-select: none;
    opacity: 0;
    background-color: #5c5f62;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    font-size: 1rem;
    font-weight: 400;
    top: 100%;
    left: 0;
    transform: translateX(-17%);
    padding-top: .1rem;
    padding-bottom: .2rem;
    padding-left: .5rem;
    padding-right: .5rem;
    border-radius: .2rem;
    position:absolute;
    z-index: 1;
    transition: .5s;
    transition-delay: 0s;
}

.SocialIcon.icon:hover + .SocialIcon.tooltip{
    opacity: 1;
    transition-delay: 600ms;
}

.SocialIcon.tooltip::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #5c5f62 transparent;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.15);
  }