
.Carousel {
    margin: 0 auto;
    overflow: hidden;
    max-width: 97.5%;
}
  
.Carousel .slider {
    white-space: nowrap;
    transition: ease 1s;
}   
  
.Carousel .slide {
    display: inline-block;

    max-width: 100%;
    border-radius: 40px;
}

.Carousel img {
    max-width: 100%;
    vertical-align: middle;
}

.Carousel .dots {
    text-align: center;
    margin-bottom: 2rem;
}
.Carousel .dot {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
    margin: 15px 7px 0px;
    transition: 1s;
}