.Footer {
    scroll-snap-align: end;
    background: #000;
    color: #fff;
}

.Footer.Container {
    max-width: 120rem;
    margin: auto;
    width: 92%;
}

.Footer.Container .Info {
    display: flex;
    flex-direction: row-reverse;
    padding: 1rem 0;
}

.Footer.Container .Info i {
    padding-left: 1rem;
    color: white !important;
}