.Nav.navbar {
    font-family: Quantico, sans-serif;
    font-size: 1.5rem;
    font-weight: 70;
    letter-spacing: -0.075em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1000;
    width: 100%;
    text-align: center;
    transition: height 200ms ease-in-out, background-color 200ms 200ms linear;
    top: 0;
    width: 100%;
    left: 0px;
}

.Nav.navbar > *:first-child {
    align-self:center;
}

.Nav.navitems {
    list-style-type: none;
    padding-right: 1rem;
    transition: display 200ms 200ms linear;
}

.Nav.navitems li {
    padding: 0 1rem;
}

.Nav.navitems a {
    text-decoration: none;
}